/*** HEADER**/
header {
  background: #eee;
  height: 55px;
}

.Menu {
  display: flex;
}

.Menu-branch {
  align-items: center;
  background: #e11b1e;
  display: flex;
  height: 55px;
  padding-right: 10px;
  flex-grow: 1;
}

.Menu-branch__logo {
  width: 55px;
}

.Menu-branch__logo img {
  object-fit: cover;
}

.Menu-branch-search {
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  overflow: hidden;
  flex-grow: 1;
}

.Menu-branch-search-location {
  display: flex;
  ;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
  height: 100%;
  width: 100px;
  font-size: 13px;
  cursor: pointer;
}

.Menu-branch-search-location:hover {
  background: #ccc;
}

.Menu-branch-search-location__txt {
  position: relative;
}

.Menu-branch-search-location__txt::after {
  border-color: #666 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 7px;
  margin-left: 4px;
}

.Menu-branch-search-location-select {
  position: absolute;
  top: 50px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  width: 110px;
  overflow: hidden;
  display: none;
}

.Menu-branch-search-location--active .Menu-branch-search-location-select {
  display: block;
}

.Menu-branch-search-location-select p {
  padding: 5px 10px;
  cursor: pointer;
}

.Menu-branch-search-location-select i {
  margin-right: 3px;
}

.Menu-branch-search-input {
  flex-grow: 1;
  height: 100%;
}

.Menu-branch-search-input input {
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 0 5px;
}

.Menu-branch-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 100%;
  font-size: 13px;
  cursor: pointer;
}

.Menu-list {
  display: flex;
}

.Menu-list-item {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.Menu-list-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3px;
  height: 100%;
  cursor: pointer;
}

.Menu-list-item-content:hover {
  background: #e11b1e;
  color: white;
}

.Menu-list-item-content__txt {
  font-size: 12px;
  margin-top: 3px;
}

.Menu-list-item-sub {
  display: none;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
}

.Menu-list-item:hover .Menu-list-item-sub {
  display: block;
}

.Menu-list-item-sub-list {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.Menu-list-item-sub-list-item {
  width: 50%;
  padding: 5px 10px;
  text-align: left;
}

.Menu-list-item-sub-list-item__txt {
  color: #555;
  white-space: nowrap;
}

.Menu-list-item-sub-list-item__txt:hover {
  color: #e11b1e;
  text-decoration: underline;
  opacity: 1;
}

/*** Nav**/
.nav {
  background: #3c3d41;
  width: 100%;
  display: flex;
  height: 50px;
}



.nav__logo {
  height: 50px;
  padding: 7px;
  width: 50px;
}

.nav-search {
  flex-grow: 1;
  padding: 7px;
}


.nav-search-content {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
}

.nav-search__btn {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  background: #e11b1e;
  width: 35px;
  height: 100%;
}

.nav-search__input {
  flex-grow: 1;
  height: 100%;
}

.nav-search__input input{
  font-size: 16px;
  width: 100%;
  padding: 0 5px;
  height: 100%;
}

.nav-hambuger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.nav-hambuger-content {
  height: 20px;
  width: 20px;
  position: relative;
}

.nav-hambuge-content__icon {
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  position: absolute;
  transition: all ease-in-out 0.5s;
}

.nav-hambuge-content__icon:nth-child(2) {
  top: 8px;
}

.nav-hambuge-content__icon:nth-child(3) {
  top: 16px;
}

.nav--active .nav-hambuge-content__icon:nth-child(1) {
  right: 60px;
  transform: rotate();
}

.nav--active .nav-hambuge-content__icon:nth-child(2) {
  top: 8px;
  transform: rotate(-135deg);
}

.nav--active .nav-hambuge-content__icon:nth-child(3) {
  top: 8px;
  transform: rotate(135deg);
}
