/*** HEADER**/
header {
  background: #eee;
  height: 55px;
}

.Menu {
  display: flex;
}

.Menu-branch {
  align-items: center;
  background: #e11b1e;
  display: flex;
  height: 55px;
  padding-right: 10px;
  flex-grow: 1;
}

.Menu-branch__logo {
  width: 55px;
}

.Menu-branch__logo img {
  object-fit: cover;
}

.Menu-branch-search {
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  overflow: hidden;
  flex-grow: 1;
}

.Menu-branch-search-location {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
  height: 100%;
  width: 120px;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
}

.Menu-branch-search-location:hover {
  background: #ccc;
}

.Menu-branch-search-location__txt {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu-branch-search-location__txt::after {
  border-color: #666 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 16px;
  right: 6px;
  margin-left: 4px;
}

.Menu-branch-search-location-select {
  position: absolute;
  top: 50px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  width: 110px;
  overflow: hidden;
  display: none;
  z-index: 999;
}

.Menu-branch-search-location--active .Menu-branch-search-location-select {
  display: block;
}

.Menu-branch-search-location-select p {
  padding: 5px 10px;
  cursor: pointer;
}

.Menu-branch-search-location-select i {
  margin-right: 3px;
}

.Menu-branch-search-input {
  flex-grow: 1;
  height: 100%;
}

.Menu-branch-search-input input {
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 0 5px;
}

.Menu-branch-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 100%;
  font-size: 13px;
  cursor: pointer;
}

.Menu-list {
  display: flex;
}

.Menu-list-item {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.Menu-list-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3px;
  height: 100%;
  cursor: pointer;
}

.Menu-list-item-content:hover {
  background: #e11b1e;
  color: white;
}

.Menu-list-item-content__txt {
  font-size: 12px;
  margin-top: 3px;
}

.Menu-list-item-sub {
  display: none;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
}

.Menu-list-item:hover .Menu-list-item-sub {
  display: block;
}

.Menu-list-item-sub-list {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  background: #fff;
}

.Menu-list-item-sub-list-item {
  width: 50%;
  padding: 5px 10px;
  text-align: left;
}

.Menu-list-item-sub-list-item__txt {
  color: #555;
  white-space: nowrap;
}

.Menu-list-item-sub-list-item__txt:hover {
  color: #e11b1e;
  text-decoration: underline;
  opacity: 1;
}

/*********************** Nav******************/
.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 50px;
  transition: all ease-in-out 0.3s;
}

.nav--active {
  height: 100%;
}

.nav-content {
  background: #3c3d41;
  width: 100%;
  display: flex;
  height: 50px;
}

.nav__logo {
  height: 50px;
  padding: 7px;
  width: 50px;
}

.nav-search {
  flex-grow: 1;
  padding: 7px;
}

.nav-search-content {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
}

.nav-search__btn {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  background: #e11b1e;
  width: 35px;
  height: 100%;
}

.nav-search__input {
  flex-grow: 1;
  height: 100%;
}

.nav-search__input input {
  font-size: 16px;
  width: 100%;
  padding: 0 5px;
  height: 100%;
}

.nav-hambuger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.nav-hambuger-content {
  height: 20px;
  width: 20px;
  position: relative;
}

.nav-hambuge-content__icon {
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  position: absolute;
  transition: all ease-in-out 0.5s;
}

.nav-hambuge-content__icon:nth-child(2) {
  top: 8px;
}

.nav-hambuge-content__icon:nth-child(3) {
  top: 16px;
}

.nav--active .nav-hambuge-content__icon:nth-child(1) {
  right: 60px;
  transform: rotate();
}

.nav--active .nav-hambuge-content__icon:nth-child(2) {
  top: 8px;
  transform: rotate(-135deg);
}

.nav--active .nav-hambuge-content__icon:nth-child(3) {
  top: 8px;
  transform: rotate(135deg);
}

.nav-menu {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  transition: all ease-in-out 0.3s;
  flex-grow: 1;
}

.nav-menu-content {
  background: #fff;
}

.nav-menu-content-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.nav-menu-content__item {
  text-align: center;
  width: 24%;
  margin: 3px 0.5%;
  padding: 5px 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 13px;
}

.nav-menu-content-footer {
  border-top: 1px soild #ddd;
  background: #f1f1f1;
  display: flex;
  height: 40px;
}

.nav-menu-content-footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nav-menu-content-footer-contact img {
  height: 30px;
  width: 30px;
}

.nav-menu-content-footer-contact a {
  color: #c41e21;
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
}

.nav-menu-content-footer-location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  border-left: 1px soild #ddd;
}

.nav-menu-content-footer-location select {
  font-size: 16px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
}

.noScroll {
  overflow: hidden;
}

@media screen and (min-width: 425px) {
  .nav-menu-content__item {
    width: 32.3%;
    margin: 3px 0.5%;
    padding: 5px 0;
    font-size: 13px;
  }
}

@media screen and (min-width: 320px) {
  .nav-menu-content__item {
    width: 48%;
    margin: 3px 1%;
    padding: 5px 0;
    font-size: 14px;
  }

  .nav-menu-content-footer-location {
    font-size: 13px;
  }

  .nav-menu-content-footer-location select {
    font-size: 14px;
  }

  .nav-menu-content-footer-contact a {
    font-size: 14px;
  }
}

/*********************** BANNNER ******************/
.banner {
  display: flex;
  margin-top: 8px;
}

.carousel {
  flex: 0 0 68%;
}

.carousel-nav {
  border: 1px solid #ddd;
  display: flex;
  min-height: 50px;
}

.carousel-nav-item {
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.carousel-nav-item:last-child {
  border-right: none;
}

.carousel-nav-item:hover {
  background: #ddd;
}

.carousel-nav-item--active {
  background: #e11b1e;
}

.carousel-nav-item--active:hover {
  background: #3c3d41;
}

.carousel-nav-item--active .carousel-nav-item__txt {
  color: #fff;
}

.banner-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 15px;
}

.banner-content__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.banner-content__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .banner {
    flex-direction: column;
  }

  .carousel {
    flex: 0 0 auto;
    width: 100%;
  }

  .banner-content {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  .carousel-nav {
    align-items: center;
    justify-content: center;
    position: relative;
    margin: -40px auto 0;
    width: 200px;
    min-height: 30px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }

  .carousel-nav-item {
    background: #828282;
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }

  .carousel-nav-item--active,
  .carousel-nav-item--active:hover {
    background: #fff;
  }
}

/*********************** CAROUSEL ******************/
.carousel-content {
  overflow: hidden;
  position: relative;
}

.carousel-content-list {
  display: flex;
  position: relative;
}

.carousel-content-list-item {
  min-width: 100%;
  width: 100%;
  cursor: grab;
}

.carousel-content__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
}

.carousel-content__button::after {
  content: "";
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: #fff #fff transparent transparent;
  width: 20px;
  height: 20px;
  transform: rotate(-135deg);
}

.carousel-content__button--right {
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  right: 0;
}

.carousel-content__button--right::after {
  transform: rotate(45deg);
}

/*********************** PRODUCT ******************/
.product {
  margin-top: 20px;
  border: 1px solid #ddd;
}

.product-head {
  display: flex;
}

.product-head__txt {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  margin-right: 50px;
  position: relative;
}

.product-head__txt::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #f5f5f5;
  position: absolute;
  right: 0;
  transform: translateX(100%);
}

.product-head__txt a {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.product-head__txt a:hover {
  text-decoration: underline;
}

.product-head__tag {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-head__tag a {
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #e41e21;
  border-radius: 3px;
  color: #e41e21;
  cursor: pointer;
  transition: color ease 0.5s;
}

.product-head__tag a:hover {
  background: #e41e21;
  color: #fff;
}

.product-content-list {
  border-top: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
}

.product-content-item {
  border: 1px solid #ddd;
  border-width: 0 1px 1px 0;
  width: 20%;
  position: relative;
}

.product-content-item:nth-child(5),
.product-content-item:nth-child(10) {
  border-right: none;
}

.product-content-item__img {
  padding: 5px;
}

.product-content-item-detail {
  font-size: 12px;
  padding: 5px;
}

.product-content-item-detail__name {
  font-weight: bold;
}

.product-content-item-detail__price {
  font-weight: bold;
  color: #db0000;
}

.product-content-item-detail__price span {
  margin-left: 10px;
  color: #999;
  text-decoration: line-through;
}

.product-content-item-gift {
  position: absolute;
  top: 10px;
  right: 10px;
  user-select: none;
}

.product-content-item-gift__btn {
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  background: #f28902;
  font-size: 13px;
}

.product-content-item-gift__btn:hover {
  opacity: 0.85;
}

.product-content-item-gift-detail {
  position: absolute;
  width: 300px;
  z-index: 1;
  background: #fff;
  left: -315px;
  top: 0;
  border-radius: 5px;
  border: 1px solid #e41e21;
  font-size: 12px;
  padding: 5px;
  opacity: 0;
  transform: translateY(30px);
  display: none;
  transition: all ease 0.5s;
}

.product-content-item-gift--active .product-content-item-gift-detail {
  opacity: 1;
  transform: translateY(0);
}

.product-content-item-gift-detail__ttl {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}

.product-content-item-gift-detail__txt {
  color: #e41e21;
}

.product-content-item-gift-detail__txt::before {
  content: "*";
}

.product-content-item-cart {
  position: absolute;
  bottom: 80px;
  left: 10px;
}

.product-content-item-cart__btn {
  background: #e41e21;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  user-select: none;
}

.product-content-item-cart__btn:hover {
  opacity: 0.85;
}

@media screen and (max-width: 1024px) {
  .product-content-item {
    width: 25%;
  }

  .product-head {
    flex-direction: column;
  }

  .product-content-item:nth-child(5),
  .product-content-item:nth-child(10) {
    border-right: 1px solid #ddd;
    border-width: 0 1px 1px 0;
  }

  .product-content-item:nth-child(4),
  .product-content-item:nth-child(8) {
    border-right: none;
  }
}

@media screen and (max-width: 425px) {
  .product-content-item {
    width: 50%;
  }
}

/*********************** CART ******************/
.cart {
  position: fixed;
  bottom: 80px;
  left: 80px;
  transition: all ease.5s;
  transform: translateY(0);
}

.cart--disable {
  transform: translateY(250px);
}

.cart__btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #e41e21;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  position: relative;
}

.cart__btn::before {
  border: 3px solid #fff;
  border-radius: 50%;
  content: attr(data-count);
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -5px;
  right: -7px;
  background: #e41e21;
}

/*********************** FOOTER ******************/
footer {
  background: #383838;
  height: 300px;
  margin-top: 50px;
}
